In [4]:
import os
import requests
import pandas as pd
import numpy as np
from dotenv import load_dotenv, find_dotenv
from bs4 import BeautifulSoup

In [5]:
#Web Scraping to get the top 100 players (with most money)
response= requests.get('https://www.esportsearnings.com/games/534-fortnite/top-players')
html = response.content
soup = BeautifulSoup(html, "lxml")
table = pd.read_html(html, attrs={'class' : 'detail_list_table'})[0]
table

,Unnamed: 0,Player ID,Player Name,Total (Game),Total (Overall),% of Total
0,1.0,Bugha,Kyle Giersdorf,"$3,072,333.34","$3,072,333.34",100.00%
1,2.0,Aqua,David Wang,"$1,900,541.23","$1,900,541.23",100.00%
2,3.0,psalm,Harrison Chang,"$1,870,738.80","$1,954,950.00",95.69%
3,4.0,Nyhrox,Emil Bergquist Pedersen,"$1,532,845.69","$1,532,845.69",100.00%
4,5.0,EpikWhale,Shane Cotton,"$1,330,841.54","$1,330,841.54",100.00%
...,...,...,...,...,...,...
95,96.0,Nicks,Nicollas Polonio de Oliveira,"$131,200.00","$131,200.00",100.00%
96,97.0,NICKMERCS,Nick Kolcheff,"$130,725.00","$167,125.01",78.22%
97,98.0,Gotaga,Corentin Houssein,"$129,758.22","$160,399.66",80.90%
98,99.0,leleo,Leonardo Arcanjo,"$129,700.00","$129,737.40",99.97%
99,100.0,Beehive,Hampus Johnsson,"$128,456.21","$128,456.21",100.00%

In [3]:
#[table[col].astype(str).str.capitalize() for col in table['Player ID']]

In [ ]:
#pd.concat(

In [6]:
table['Name Correct'] =[str.capitalize(i) for i in table['Player ID']]

In [7]:
table

,Unnamed: 0,Player ID,Player Name,Total (Game),Total (Overall),% of Total,Name Correct
0,1.0,Bugha,Kyle Giersdorf,"$3,072,333.34","$3,072,333.34",100.00%,Bugha
1,2.0,Aqua,David Wang,"$1,900,541.23","$1,900,541.23",100.00%,Aqua
2,3.0,psalm,Harrison Chang,"$1,870,738.80","$1,954,950.00",95.69%,Psalm
3,4.0,Nyhrox,Emil Bergquist Pedersen,"$1,532,845.69","$1,532,845.69",100.00%,Nyhrox
4,5.0,EpikWhale,Shane Cotton,"$1,330,841.54","$1,330,841.54",100.00%,Epikwhale
...,...,...,...,...,...,...,...
95,96.0,Nicks,Nicollas Polonio de Oliveira,"$131,200.00","$131,200.00",100.00%,Nicks
96,97.0,NICKMERCS,Nick Kolcheff,"$130,725.00","$167,125.01",78.22%,Nickmercs
97,98.0,Gotaga,Corentin Houssein,"$129,758.22","$160,399.66",80.90%,Gotaga
98,99.0,leleo,Leonardo Arcanjo,"$129,700.00","$129,737.40",99.97%,Leleo
99,100.0,Beehive,Hampus Johnsson,"$128,456.21","$128,456.21",100.00%,Beehive

In [ ]:
url= [f'https://fortnite-api.com/v1/stats/br/v2?name={name}' for name in table['Player ID']]
response = [requests.get(i).json() for i in url]

In [ ]:
x= pd.json_normalize(response)
pd.set_option('display.max_columns', None)
x

In [ ]:
pd.merge(left=table, right=x, left_on='Name Correct', right_on='data.account.name')

In [ ]:
friends=['Floelr', 'Monsterbale', 'Sharshock','BEP Rodolfo477','Guibru123','williamtotake','BzAlva','Cauanyca']
results = [requests.get(f'https://fortnite-api.com/v1/stats/br/v2?name={i}').json() for i in friends]

In [ ]:
y= pd.json_normalize(results)
y

In [ ]:
#data.rename(columns={'Make':'Manufacturer'}, inplace=True)

In [ ]:
gather = pd.concat([x, y])
gather.reset_index(drop=True)

In [ ]:
#Top 100 Highest Overall Earnings
response= requests.get('https://www.esportsearnings.com/players/highest-overall')
html = response.content
soup = BeautifulSoup(html, "lxml")
table = pd.read_html(html, attrs={'class' : 'detail_list_table'})[0]

In [ ]:
# Replacing Header with Top Row - Just run once
new_header = table.iloc[0] 
table = table[1:] 
table.columns = new_header

In [ ]:
table.rename(columns={'NaN':'Rank Position'}, inplace=True)

In [ ]:
table #Top 100 Highest Overall Earnings

In [ ]:
#Top 100 Highest Earnings for Brazil
response= requests.get('https://www.esportsearnings.com/countries/br')
html = response.content
soup = BeautifulSoup(html, "lxml")
table2 = pd.read_html(html, attrs={'class' : 'detail_list_table'})[0]
new_header = table2.iloc[0] 
table2 = table2[1:] 
table2.columns = new_header

In [ ]:
table2